.table-row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: fit-content;
}

.table {
	display: flex;
	flex-direction: column;
	width: min(fit-content, 100%);
	font-size: 1.5em;
	margin: 1em;
	overflow: scroll;
}

.table-header {
	color: #FFF;
	background-color: #000;
}

.table-content {
	padding: 0 1em;
	width: 300px;
	border: solid 1px black;
	box-sizing: border-box;
}

.table > div:nth-child(even) {
	background-color: #999;
}

.table > div:nth-child(odd) {
	background-color: #CCC;
}
