.table {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	font-size: 1.3em;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	width: fit-content;
}

.table-header-row {
	color: #FFF;
	background-color: #000 !important;
}

.table-row {
	display: flex;
	width: fit-content;
}

.table-row > div {
	min-width: 200px;
	max-width: 200px;
	padding-left: 1em;
	border-right: 1px solid black;
}

.table > div:nth-child(even) {
	background-color: #999;
}

.table > div:nth-child(odd) {
	background-color: #CCC;
}

input[type=submit] {
	margin-top: 1em;
}
