.body {
	padding: 10px;
}

.table {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	font-size: 1.3em;
	border: 1px solid black;
	border-radius: 4px;
	width: fit-content;
	max-width: 100%;
}

.table-header-row {
	color: #FFF;
	background-color: #000 !important;
}

.table-row {
	display: flex;
	width: fit-content;
}

.table-row > div {
	min-width: 200px;
	max-width: 200px;
	padding-left: 0.5em;
	border-right: 1px solid black;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.table > div:nth-child(even) {
	background-color: #999;
}

.table > div:nth-child(odd) {
	background-color: #CCC;
}

.no-border {
	border: none !important;
	min-width: 201px !important;
	max-width: 201px !important;
}

.actions {
	width: 100%;
}

.actions-grid {
	padding-right: 0.5em;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.editor {
	background-color: #999;
	display: flex;
	flex-direction: column;
	padding: 1em;
	margin-bottom: 1em;
	border-radius: 4px;
}

.editor input {
	overflow: hidden;
}

.editor > div {
	display: grid;
	grid-template-columns: 200px 1fr;
}

.editor > div > span {
	padding-left: 0.5em;
}

.result-message {
	font-size: 1.5em;
	margin-bottom: 0.5em;
	width: fit-content;
	padding: 0.5em 1em;
	border-radius: 4px;
}

.result-message > button {
	margin-right: 1em;
	font-size: 0.75em;
}

.editor > button {
	margin-top: 0.5em;
}

.error-message {
	background-color: red;
}

.good-message {
	background-color: green;
}

#save-button {
	height: 2.5em;
	font-size: 1em;
}
