.menu {
	border-right: 2px solid #000;
}

iframe {
	height: 100%;
	width: 100%;
	border: none;
}

body {
	margin: 0;
	display: grid;
	grid-template-columns: 25% 1fr;
	height: 100vh;
	width: 100vw;
	background-color: #333;
	overflow: hidden;
}

h1 {
	padding: 10px;
	text-align: center;
	position: sticky;
	overflow: hidden;
	margin: auto;
	color: #FFF;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: min(150px, 100%);
	background-color: #111;
	display: block;
	overflow: hidden;
	border: 1px solid #666;
}

.dropdown {
	margin: auto 20px;
	border: 1px solid #666;
	float: none;
	list-style-type: none;
	position: relative;
	display: block;
	background-color: #111;
	color: white;
	padding: 10px;
	transition: background-color 0.1s, color 0.1s;
}

.dropdown:hover {
	background-color: #ff4500;
	color: #000;
}

.dropdownContent {
	display: none;
	position: absolute;
	top: 39px;
	background-color: #111;
	width: max-content;
	z-index: 10;
	left: -1px;
}

.dropdownContent a {
	padding: 8px 16px;
	text-decoration: none;
	display: block;
	transition: background-color 0.1s, color 0.1s;
	color: #FFF;
}

.dropdownContent a:hover {
	background-color: #ff4500;
	color: #000;
}

.dropdownContent a:active {
	background-color: #cc3600;
}

.dropdown:hover .dropdownContent {
  display: block;
}
